@import "src/assets/style/variables.scss";
.G-container {
    max-width: 1400px;
    width: 100%;
    margin: 0px auto;
}

.G-padding-25 {
    width: 25%;
    padding: 15px;
}

.G-padding-33 {
    width: 33.3%;
    padding: 15px;
}

.G-padding-50 {
    width: 50%;
    padding: 15px;
}

.G-page-title-sec {
    position: relative;
    margin-bottom: 25px;
    display: block;
    font-size: 1.5em;
    z-index: 8;
}

.G-page-title {
    display: inline;
    font-size: 33px;
    font-weight: 700;
    background-color: $grey-light;
    z-index: 9;
    padding-right: 10px;
}

.G-page-title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 50%;
    left: 0;
    border-top: 1px dashed #bec5cb;
    z-index: -1;
}