@import "../../../assets/style/variables.scss";
.prod-description-header {
    border-bottom: 1px solid $grey;
}

.description-navigation {
    display: flex;
    color: $grey-dark;
    li {
        width: 115px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        a.active {
            width: 100%;
            height: 100%;
            background-color: $grey;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    li:hover {
        //border: 1px solid $grey;
        border-width: 1px 1px 0px 1px;
        border-color: $grey;
        border-style: solid;
    }
}