@import "../../assets/style/variables.scss";
.G-page-section {
    .G-page-header {
        height: 60px;
        border-bottom: 1px solid $blue;
        display: flex;
        align-items: center;
        padding-left: 15px;
        .G-header-title {
            color: $yellow;
            font-size: 25px;
        }
    }
    .G-page-scroll-body {
        margin-top: 20px;
        padding-left: 20px;
        height: calc(100vh - 80px);
        overflow: hidden;
        overflow-y: auto;
    }
    .G-page-btn {
        position: relative;
        button {
            padding: 8px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $blue;
            transition: 0.4s;
            margin-bottom: 25px;
            color: $white;
            border-radius: 5px;
        }
        button:hover {
            background: $yellow;
            transition: 0.4s;
        }
    }
    .G-page-creating {
        display: flex;
        flex-wrap: wrap;
    }
}

// added box style
.added-box {
    width: 200px;
    height: 230px;
    //height: auto;
    border: 1px solid $yellow;
    padding: 5px 8px;
    color: $blue;
    margin: 5px;
    flex-direction: column;
    .category-main {
        flex-direction: column;
        h3 {
            margin-top: 10px;
        }
    }
    .changing-icons {
        width: 100%;
        color: $blue;
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 25px;
        .edit-icon,
        .del-icon {
            position: absolute;
            cursor: pointer;
        }
        .edit-icon {
            left: 0;
        }
        .del-icon {
            right: 0;
        }
    }
    .category-img {
        width: 150px;
        height: 150px;
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.arr-is-empty {
    color: $blue;
}

.error-text {
    color: red;
}

.login-btn {
    width: 80px;
    height: 35px;
    border-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: $blue;
    background-color: $yellow;
}

.login-btn:hover {
    background-color: $yellow-dark;
}