@import "../../assets/style/variables.scss";
.shop-cart-section {
    background-color: $grey-light;
    padding: 50px 0px;
    color: $grey-dark;
}

.card-products {
    width: 900px;
    margin-right: 40px;
    .table-header {
        width: 100%;
        height: 40px;
        padding: 10px;
        background-color: $blue;
        color: $white;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .shop-table-line {
        width: 100%;
        height: 60px;
        padding: 10px 15px;
        background-color: $white;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .shop-table-line td {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .shop-prod-img {
        width: 50px;
        height: 50px;
        display: block;
        background-position: center;
        background-size: cover;
        margin-right: 5px;
    }
    .shop-product-number {
        width: 30px;
        height: 30px;
        background-color: $grey-light;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bg-color {
        background-color: $yellow;
    }
    .prod-delete {
        width: 30px;
        height: 30px;
        background-color: $viva-magenta;
        color: $white;
        font-weight: 600;
        font-size: 18px;
    }
}

.shop-summery-part {
    width: calc(100% - 900px);
    .coupon-code-box {
        input {
            width: 65%;
            height: 50px;
            background-color: $white;
            padding: 10px 15px;
            color: $grey;
        }
        .coupon-btn {
            width: 35%;
            background-color: $yellow;
            font-weight: 500;
            color: $grey-dark;
        }
    }
    .shop-summary-title {
        margin: 20px 0px;
    }
    .cart-summary {
        padding: 35px;
        background-color: $white;
        .border-bot {
            border-bottom: 1px solid $grey;
            p {
                margin-bottom: 20px;
                font-weight: 500;
            }
        }
        .total-sum {
            font-weight: 600;
            font-size: 20px;
            margin: 20px 0px;
        }
        .prod-check-btn {
            width: 100%;
            height: 50px;
            background-color: $yellow;
            color: $grey-dark;
            font-weight: 600;
            margin-top: 20px;
        }
    }
}